  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="copyrights">
          <!--start copyrights-->
          <div class="row" id="copyright-note">
                      <div class="footer-mail-list">
              <!--以下是QQ邮件列表订阅嵌入代码--><a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=880bbe5258ed1e17568b8414be8261e40aa5ded7be1a91d4"><img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" src="http://rescdn.list.qq.com/zh_CN/htmledition/images/qunfa/manage/picMode_light_m.png" /></a> 
                    </div> 
            <span class="copy">
              <a href="{{ site.baseurl}}/" title="数据科学家联盟">数据科学家联盟</a>Copyright © 2013</span>
            <div class="footer-navigation">
              <nav id="navigation">
                <ul id="menu-top" class="menu sf-js-enabled">
                  <li id="menu-item-1039" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1039">
                    <span>•</span><a href="{{ site.baseurl}}/">主页</a>
                  </li>
                  <li id="menu-item-1080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080">
                    <span>•</span><a href="{{ site.baseurl}}/about-us/">联系我们</a>
                  </li>
                  <li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1048">
                    <span>•</span><a href="{{ site.baseurl}}/sitemap.txt">网站地图</a>
                  </li>
                  <li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049">
                    <span>•</span><a href="{{ site.baseurl}}/atom.xml">订阅</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!--end copyrights-->
        </div>
      </div>
      <!--.footer-content-->
    </div>
    <!--.container-->
  </footer>
  <!--footer-->
 <!--start custom JS-->	
{% for js in page.js %}<script src="{{site.baseurl}}/assets/js/" type="text/javascript" charset="utf-8"></script>
{% endfor %}
<!--end custom JS-->