        <aside class="sidebar c-4-12">
          <div id="sidebars" class="g">
            <div class="sidebar">
              <ul class="sidebar_list">
              {% if page.intro %}
                <li class="widget widget-sidebar">
                  <h3>
                    关于数盟
                  </h3>
                  <div class="sidebar-text">
                  数盟，即“数据科学家联盟”，数盟社区是一个资源整合共享平台，专注于数据科学，关注R、数据挖掘、统计分析、机器学习、大数据等技术  ，社区理念：开放、包容，以技术驱动社会进步。数盟社区已与众多企业、团队、个人建立了良好的合作关系， 我们希望能与更多企业、团队、个人建立良好合作，共同构建一个完整健康的数据科学生态圈。查看<a href="{{ site.baseurl}}/about-us/">详细介绍</a>。</div>
                </li> {% endif %}

                <li class="widget widget-sidebar">
                  <h3>
                    战略合作伙伴
                  </h3>
                  <div class="ad-300">
                    <a href="http://supstat.com/" target="_blank" title="北京数博思达信息科技有限公司">
                      <img src="{{ site.baseurl}}/assets/images/supstat-logo.png" alt="北京数博思达信息科技有限公司" width="300px">
                    </a>
                   </div>
                   <div class="ad-300">
                    <a href="http://ismartdata.com/" target="_blank" title="智数营">
                      <img style="margin-left:30px" src="{{ site.baseurl}}/assets/images/zsy.png" alt="智数营" width="200px">
                    </a>
                    <p style="text-align:right;"><a href="{{ site.baseurl}}/partners/">>>查看更多</a></p>
                  </div>
                  </li>

                <li class="widget widget-sidebar">
                  <h3>
                    推荐会议
                  </h3>
                  <div class="ad-300">
                    <a href="http://hadoop.it168.com" target="_blank" >
                      <img src="{{ site.baseurl}}/assets/images/hadoop-summit.jpg" alt="2013年Hadoop中国技术峰会" width="300px">
                    </a>
                    <p>2013年Hadoop中国技术峰会</p>
                  </div>
                  </li>

                <li class="widget widget-sidebar">
                  <h3>
                    联系数盟
                  </h3>
                  <div class="sidebar-text">
                    <p style="margin-bottom:5px">新浪微博：<a href="http://weibo.com/DataScientistUnion">@数据科学家联盟</a><br>
           微信公众平台： DataScientistUnion<br>
                 <img src="/assets/images/weixin.jpg" alt="weixin"></p>
                  <p style="margin-bottom:5px">数盟【总舵】QQ群：321311420<br>
                    数盟【大数据分舵】QQ群：272089418<br></p>
                    <p style="margin-bottom:5px">咨询数盟活动，请发邮件至 <span style="color:#d8373c">contact@datameng.com</span></p>
                    <p style="margin-bottom:5px">有关数盟活动赞助，请发邮件至 <span style="color:#d8373c">sponsorship@datameng.com</span></p>
                    <p style="margin-bottom:5px">合作伙伴及媒体联络，请发邮件至 <span style="color:#d8373c">partners@datameng.com</span></p>
                  </div>
                </li>
                  
                <li class="widget widget-sidebar">
                  <h3>
                    最新文章
                  </h3>
{% include aside/recent-posts.html %}
                </li>
       
                {% comment %}<li class="widget widget-sidebar">
                  <h3>
                    最近评论
                  </h3>
                  <ul id="ds-recent-comments" class="ds-recent-comments" data-num-items="11" data-show-title="1" data-show-avatars="1" data-show-time="1" data-show-admin="0" data-avatar-size="32" data-excerpt-length="50"></ul>
                </li>
                
              <li class="widget widget-sidebar">
                  <h3>
                    最近访客
                  </h3>
                  <ul class="ds-recent-visitors"></ul>   
              </li> {% endcomment %}

              <li class="widget widget-sidebar">
                    <h3>
                    关注微博
                  </h3>
  {% include aside/weibo.html %}
              </li>

               {% comment %}<li class="widget widget-sidebar">
                  <h3>
                    友情链接
                  </h3>
{% include aside/blogroll.html %}
              </li> {% endcomment %}
              </ul>
              <ul class="sidebar_rows">
                <div class="sb_left">
                </div>
                <div class="sb_right">
                </div>
              </ul>
              <ul class="sidebar_list">
              </ul>
            </div>
          </div>
          <!--sidebars-->
        </aside>